---

- name: Get rustup_user home
  ansible.builtin.getent:
    database: passwd
    key: "{{ rustup_user }}"
    split: ":"
  become: true

- name: Define rustup user home
  ansible.builtin.set_fact:
    rustup_user_home: "{{ rustup_user_home | default(getent_passwd[rustup_user][4]) }}"
    rustup_exe: "{{ getent_passwd[rustup_user][4] }}/{{ rustup_cargo_home_suffix }}/bin/rustup"

- name: Check for presence of rustup executable
  ansible.builtin.stat:
    path: '{{ rustup_exe }}'
  register: rustup_exe_status
