---

- name: Set distro-specific variables
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_os_family }}.yml'
    - main.yml

- name: Install rustup system requirements
  ansible.builtin.package:
    name: "{{ rustup_packages }}"
    state: present
  become: "{{ 'yes' if ansible_facts['os_family'] == 'Darwin' else 'no' }}"

- name: Primary block, running tasks as specified rustup user
  become: true
  become_user: "{{ rustup_user }}"
  block:
    # Set basic variables and determine if rustup executable is present on the filesystem
    - name: Gather state to determine necessary tasks
      ansible.builtin.import_tasks: gather-state.yml

    # Unable to find rustup executable where we expected it, go get rustup
    # Set the path to the rustup
    - name: Download rustup
      ansible.builtin.import_tasks: install-rustup.yml
      when: not rustup_exe_status.stat.exists

    - name: Set specified toolchain version as default, implicitly installing if necessary
      ansible.builtin.import_tasks: set-toolchain.yml
